<mat-card>
  <mat-card-header>
    <mat-card-title>登录:</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field color="primary" floatLabel="auto"  appearance="legacy">
      <input matInput placeholder="您的email" value="">
      <span matSuffix>@email</span>
      <span matPrefix>头</span>
      <mat-hint>111</mat-hint>
      <mat-error>错了</mat-error>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <p>还没有账户?<a href="">注册</a></p>
    <p>忘记密码?<a href="">找回</a></p>
  </mat-card-actions>
</mat-card>
